
st-gsheets-connection
streamlit==1.36.0
streamlit-authenticator==0.1.3
numpy==1.24.3  # Downgrade if 1.26.4 is causing issues
pandas==1.5.3
pyyaml==6.0  # Ensure it's installed for YAML parsing
gspread==5.12.4
gspread-dataframe==4.0.0
gspread-formatting==1.2.0
